@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css);
body {
  margin: 0 30px;
  font-family: "Poppins";
  background: #f1f1f1;
}
h1,h2,h3,h4 {
  font-weight: 500;
}
.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}
a {

  color: #ffcc35;
}
.site-header {
  display: flex;
  justify-content: space-between;
  color: #ffcc35;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}
.site-header h1{
  font-size: 1.5em;
  color: #ffcc35;
}
.logoContainer{
  width: 25%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.login-container{
  width: 25%;
  display: flex;
  justify-content: end;
}
.login-container > *{
  margin-left: 1.5rem;
}
.logo img{
  height: auto;
  width: 30%;
}

/* review list */
.story-card {
  background: white;
  margin: 60px auto;
  padding: 1px 20px 20px 90px;
  position: relative;
  border: solid 2px #ffcc35;
  
}
.story-card a{
  text-decoration: none;
  border-bottom: 1px dotted;
}
.story-card .rating {
  position: absolute;
  top: -20px;
  left: -20px;
  background: #ffcc35;
  font-size: 3em;
  width: 90px;
  height: 90px;
  text-align: center;
  color: white;
}
.story-card h2 {
  margin-bottom: 0;
}
.story-card small {
  margin-right: 10px;
  color: #777;
}
.img-wrapper{
  display: grid;
  grid-template-columns: 40% 40%;
  height: 17rem;
  gap: 30px ;
  /* background-color: #ffcc35; */
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin-bottom: 10px;
  background-color: #d1cecef1;
}
.img-container{
  position: relative;
  /* margin:20px; */
  object-fit:cover;
}
.img{
  position: relative;
  height: 14rem;
  box-shadow: 5px 5px 20px black;
  margin: 30px 30px;
  object-fit: cover;
}
.download-icon{
  top: 40px;
  left: 40px;
  position:absolute;
  background-color: #f1f1f1;
}
.download-icon:hover{
  box-shadow: 0 0 20px white;
  transition: 300ms;
}
.img:hover{
  backdrop-filter: blur(6px);
}
.button-container{
  display: flex;
  justify-content: center;
}
.download{
  width: 20%;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #ffcc35;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  display: block;
}
.download:hover{
  transition: 500ms;
  box-shadow: 5px 5px 10px black;
}

/* Muzz code */
.row{
  background: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px rgb(163, 156, 156);
}
img{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30;
}
.btn1{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
.btn1:hover{
  background: white;
  border: 1px solid;
  color: black;
}
.form-container{
  display: flex;
}
.form-container > section {
  padding-top: 8rem;

}
